<footer class="page-row inverse foot full-width">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3> Contact Information </h3>
        <p>Maecenas nunc purus, laoreet quis tincidunt id, commodo ac magna. Phasellus a est luctus, pulvinar justo id, blandit lacus. Suspendisse rutrum vestibulum purus sit amet faucibus. Duis non condimentum quam, in commodo felis.</p>
      </div>

      <div class="col-md-8">
        <h3>Mission Statment</h3>
        <p>Nulla in justo in velit auctor laoreet ac ut dolor. Proin eget nisi sed sem tempus imperdiet. Nam porta mauris lacus, non laoreet lacus sagittis id. Duis tempor tortor a vulputate rhoncus. Suspendisse ac tincidunt justo. Fusce enim libero, porttitor ut enim at, aliquet molestie massa. Donec vitae dapibus nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed quis pulvinar nibh, eget tincidunt elit. Proin placerat vehicula tellus vel rhoncus. Donec mollis diam sapien, eget euismod nisi aliquet nec. Fusce placerat ipsum ac nunc ornare porta. Maecenas massa justo, cursus sed dolor vitae, feugiat condimentum metus.</p>
      </div>
    </div>
    <div class="row">
      <p class="col-md-8"><i class="fa fa-copyright"></i> 2014 Marzcorp Oil &amp; Gas Inc.</p>
      <aside class="col-md-2 pull-right social">
        <a class="fa fa-rss-square fa-2x" href="{{ "/feed.xml" | prepend: site.baseurl }}" title="Subscribe via RSS"></a>
      </aside>
    </div>
  </div>
</footer>
