<footer class="page-row inverse foot full-width">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3> Contact Information </h3>
        <p>3571 Rue Jarry Est, Montr&egrave;al, QC H1Z 2G1, Canada</p>
        <p>Frank Marzoli<br />
           President & CEO<br />
           Marzcorp Oil & Gas Inc.<br />
           Phone: 514-721-1180</p>
      </div>

      <div class="col-md-8">
        <h3>Safe Harbour Statement</h3>
        <p>News releases include statements about expected future events and/or results that are forward-looking in nature and subject to risks and uncertainties. Forward-looking statements include, but are not limited to, the amount of funds the Company may receive, the Company's proposed acquisition and development properties, including drilling projects. It is important to note that actual outcomes and the Company's actual results could differ materially from those in such forward-looking statements. Factors that could cause actual results to differ materially include the possibility that additional investments will not be made or that appropriate opportunities for development will not be available or will not be properly developed. For additional risk factors our Company readers should refer to risk disclosure contained in our reports filed with SEDAR.</p>
      </div>
    </div>
    <div class="row">
      <p class="col-md-8"><i class="fa fa-copyright"></i> 2014 Marzcorp Oil &amp; Gas Inc.</p>
      <aside class="col-md-2 pull-right social">
        <a class="fa fa-rss-square fa-2x" href="{{ "/feed.xml" | prepend: site.baseurl }}" title="Subscribe via RSS"></a>
      </aside>
    </div>
  </div>
</footer>
